@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Poppins" sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.product .product-card {
    background: #1D212B;
    position: relative;
    z-index: 1;
    width: 300px;
    height: 400px;
    margin: 40px;
    border-radius: 10px;
}

.product .product-card::before {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .product-card .product-img {
    position: absolute;
    z-index: 1;
    max-width: 350px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product .product-card .name {
    position: absolute;
    z-index: 2;
    color: #fff;
    width: 100%;
    text-align: center;
    bottom: 130px;
    font-size: 20px;
    letter-spacing: 1px;
}

.product .product-card .price {
    position: absolute;
    z-index: 2;
    color: #fff;
    width: 100%;
    text-align: center;
    bottom: 80px;
    font-size: 30px;
    font-weight: 300;
}

.product .product-card .popup-btn {
    position: absolute;
    z-index: 2;
    color: #fff;
    background: #555;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.product .product-card .popup-btn:hover {
    color: rgb(109, 107, 107);
    background: rgb(19, 18, 18);
}


/* PopUp View */

.product .popup-view {
    position: fixed;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .popup-card {
    position: relative;
    display: flex;
    width: 800px;
}

.product .popup-card .product-img {
    position: relative;
    z-index: 2;
    background: #1D212B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.product .popup-card .product-img img {
    position: relative;
    z-index: 2;
    width: 450px;
    left: -40px;
}

.product .popup-card .info {
    display: flex;
    z-index: 2;
    background: #fff;
    flex-direction: column;
    width: 55%;
    height: 100%;
    padding: 40px;
    border-radius: 10px;
}